<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html  lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <table id="personList">
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>性别</th>
        </tr>
        <#if persons??&&((persons?size) gt 0)>
            <#list persons as person>
                <tr>
                    <td>${person.id}</td>
                    <td>${person.name}</td>
                    <td>${person.sex}</td>
                </tr>
        </#list>
        </#if>
    </table>
</body>
</html>